
head {
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

body {
	text-align: center;
	font-size: 12px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

ul {
	padding-left: 15px;
	padding-right: 15px;
}

.header {
	font-style: italic;
}

.name {
	font-weight: bold;
}